/*!
Balzac bbPress addon
Author : Themes de France
Author URI: https://www.themesdefrance.fr
Description: Bring Balzac styles for bbPress
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html

*/
